.main {
    background-color: rgb(36, 69, 129);
    display: flex;
    flex-direction: column;
    align-items: center;
    place-self: center;
    padding: 40px;
}

.title {
    color: white;
    font-size: 40px;
}

.table {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 2px;
    grid-template-columns: repeat(10, 45px);
    grid-template-rows: repeat(10, 45px);
    background-color: rgb(156, 156, 156);
    border-radius: 5px;
    box-shadow: 0 0 20px 2px gray;
}

.cell,
.x {
    text-align: center;
    align-content: center;
    width: 92%;
    height: 92%;
    background-color: rgb(66, 66, 66);
    box-shadow: -2px -2px 1px black inset;
    border-radius: 5px;
}

.cell:hover {
    width: 102%;
    height: 102%;
}

.click {
    font-size: 55px;
    color: white;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 10px black;
}

.cecret {
    background-color: rgb(47, 206, 206);
}

.err {
    background-image: url("https://static4.depositphotos.com/1001003/353/i/450/depositphotos_3533413-stock-photo-3d-rejected-or-rated-x.jpg");
}

.x {
    background-color: rgb(36, 36, 36);
}

.v {
    background-color: greenyellow;
    box-shadow: 0 0 50px 10px green;
    z-index: 1;
}

.status-true {
    font-family: cursive;
    font-size: 45px;
    margin: 0;
    color: greenyellow;
    text-shadow: 0 0 20px yellow;
}
.status-false {
    font-size: 45px;
    margin: 0;
    color: red;
}